backend/nodered/data/flows.json
[{"id":"e3bf9902.391988","type":"tab","label":"PTZ View Flow","disabled":false,"info":""},{"id":"4de563ba.080b34","type":"tab","label":"LightsFlow","disabled":false,"info":""},{"id":"6281900d.e6f648","type":"mqtt-broker","name":"Camera","broker":"192.168.1.3","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":4,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6add296e.826628","type":"mqtt in","z":"e3bf9902.391988","name":"PoolHD","topic":"BlueIris/PoolHD","qos":"2","datatype":"auto","broker":"6281900d.e6f648","nl":false,"rap":false,"x":50,"y":400,"wires":[["c204234e.e9ad08"]]},{"id":"ec6d061f.0d61b","type":"mqtt in","z":"e3bf9902.391988","name":"EntryHD","topic":"BlueIris/EntryHD","qos":"2","datatype":"auto","broker":"6281900d.e6f648","nl":false,"rap":false,"x":60,"y":540,"wires":[["c204234e.e9ad08"]]},{"id":"775c1dda.0edfa4","type":"http request","z":"e3bf9902.391988","name":"PTZ to Scan","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.3.5/cgi-bin/ptz.cgi?action=start&channel=1&code=AutoScanOn&arg1=1&%20arg2=0&arg3=1","tls":"","persist":true,"proxy":"","authType":"digest","x":230,"y":1040,"wires":[[]]},{"id":"35329fee.90f12","type":"mqtt in","z":"e3bf9902.391988","name":"DriveHD","topic":"BlueIris/DriveHD","qos":"2","datatype":"auto","broker":"6281900d.e6f648","x":60,"y":660,"wires":[["c204234e.e9ad08"]]},{"id":"73d522f8.23d37c","type":"http request","z":"e3bf9902.391988","name":"PTZ to Entry","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.3.5/cgi-bin/ptz.cgi?action=start&channel=1&code=GotoPreset&arg1=0&%20arg2=1&arg3=0","tls":"","persist":true,"proxy":"","authType":"digest","x":1310,"y":760,"wires":[[]]},{"id":"a1f290d3.5e92a","type":"http request","z":"e3bf9902.391988","name":"PTZ to pool","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.3.5/cgi-bin/ptz.cgi?action=start&channel=1&code=GotoPreset&arg1=0&%20arg2=3&arg3=0","tls":"","persist":true,"proxy":"","authType":"digest","x":1050,"y":680,"wires":[[]]},{"id":"3a683f63.b66d68","type":"http request","z":"e3bf9902.391988","name":"PTZ to driveway","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.3.5/cgi-bin/ptz.cgi?action=start&channel=1&code=GotoPreset&arg1=0&%20arg2=4&arg3=0","tls":"","persist":true,"proxy":"","authType":"digest","x":1060,"y":720,"wires":[[]]},{"id":"8a3fcad3.6bc9e","type":"trigger","z":"e3bf9902.391988","name":"If nothings triggered 20sec-> door","op1":"","op2":"reset","op1type":"pay","op2type":"str","duration":"20","extend":false,"overrideDelay":false,"units":"s","reset":"reset","bytopic":"all","topic":"topic","outputs":1,"x":620,"y":660,"wires":[["653cd181.63d5e8"]]},{"id":"515affc3.e5cf8","type":"http request","z":"e3bf9902.391988","name":"PTZ to Door","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.3.5/cgi-bin/ptz.cgi?action=start&channel=1&code=GotoPreset&arg1=0&%20arg2=2&arg3=0","tls":"","persist":true,"proxy":"","authType":"digest","x":1050,"y":640,"wires":[[]]},{"id":"3016ed00.69a894","type":"mqtt in","z":"e3bf9902.391988","name":"PTZHD","topic":"BlueIris/PTZHD","qos":"2","datatype":"utf8","broker":"6281900d.e6f648","nl":false,"rap":false,"x":50,"y":760,"wires":[["2e9cd021.618be8","c204234e.e9ad08","ac2ae68d.f9ea68"]]},{"id":"a9a48fce.1f065","type":"trigger","z":"e3bf9902.391988","name":"After 3 second change angle","op1":"","op2":"1","op1type":"str","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":1080,"y":800,"wires":[["73d522f8.23d37c"],["ac2ae68d.f9ea68"]]},{"id":"224e5afc.3a2896","type":"http request","z":"e3bf9902.391988","name":"PTZ to Entry","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.3.5/cgi-bin/ptz.cgi?action=start&channel=1&code=GotoPreset&arg1=0&%20arg2=6&arg3=0","tls":"","persist":true,"proxy":"","authType":"digest","x":1410,"y":820,"wires":[[]]},{"id":"5bfedd26.0e5dec","type":"mqtt out","z":"4de563ba.080b34","name":"DrivewayLights","topic":"shellies/DrivewayLights/relay/1/command","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6281900d.e6f648","x":1180,"y":520,"wires":[]},{"id":"eac3b0c7.647408","type":"mqtt in","z":"4de563ba.080b34","name":"PoolHD","topic":"BlueIris/PoolHD","qos":"2","datatype":"auto","broker":"6281900d.e6f648","x":170,"y":300,"wires":[["54367dee.6c73bc"]]},{"id":"16cf7941.8a7b1f","type":"mqtt in","z":"4de563ba.080b34","name":"EntryHD","topic":"BlueIris/EntryHD","qos":"2","datatype":"auto","broker":"6281900d.e6f648","x":160,"y":400,"wires":[["54367dee.6c73bc"]]},{"id":"b8d9cf31.279bd8","type":"mqtt in","z":"4de563ba.080b34","name":"DriveHD","topic":"BlueIris/DriveHD","qos":"2","datatype":"auto","broker":"6281900d.e6f648","x":160,"y":500,"wires":[["54367dee.6c73bc"]]},{"id":"339a9b.6d652d66","type":"mqtt in","z":"4de563ba.080b34","name":"PTZHD","topic":"BlueIris/PTZHD","qos":"2","datatype":"utf8","broker":"6281900d.e6f648","x":170,"y":640,"wires":[["54367dee.6c73bc"]]},{"id":"837d3f07.9c03a8","type":"change","z":"4de563ba.080b34","name":"On Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":480,"wires":[["5bfedd26.0e5dec"]]},{"id":"e5f3f711.2874d","type":"change","z":"4de563ba.080b34","name":"Off Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":560,"wires":[["5bfedd26.0e5dec"]]},{"id":"e12b5e9b.72b758","type":"trigger","z":"4de563ba.080b34","name":" Turn on Immeddiately / After 5 mins Off","op1":"1","op2":"1","op1type":"str","op2type":"str","duration":"5","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":720,"y":520,"wires":[["837d3f07.9c03a8"],["e5f3f711.2874d"]]},{"id":"bfc53314.7c72f8","type":"inject","z":"e3bf9902.391988","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":450,"y":160,"wires":[[]]},{"id":"2e9cd021.618be8","type":"debug","z":"e3bf9902.391988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":920,"wires":[]},{"id":"4ca398d9.91c2a","type":"function","z":"e3bf9902.391988","name":"PTZ -> Pool Logic","func":"var ptz_loc = global.get(\"ptz_loc\");\nif (ptz_loc == \"Door\") {\n    global.set(\"ptz_loc\",\"Pool\");\n}\nif (ptz_loc == \"Pool\"){\n    global.set(\"time\", new Date());\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":380,"wires":[[]]},{"id":"9295d847.1ca4d8","type":"function","z":"e3bf9902.391988","name":"PTZ -> Entry Logic","func":"var ptz_loc = global.get(\"ptz_loc\");\nif (ptz_loc != \"Drive\") {\n    global.set(\"ptz_loc\",\"Entry\");\n}\nif (ptz_loc == \"Entry\"){\n    global.set(\"time\", new Date());\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":420,"wires":[[]]},{"id":"54367dee.6c73bc","type":"time-range-switch","z":"4de563ba.080b34","name":"1:day - 2:night","lat":"38.2492","lon":"122.0405","startTime":"dusk","endTime":"dawn","startOffset":0,"endOffset":0,"x":400,"y":460,"wires":[["54025bd0.0f8024"],["e12b5e9b.72b758","e8347ab.081de08"]]},{"id":"35a773db.819a8c","type":"inject","z":"4de563ba.080b34","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":410,"y":740,"wires":[["668cd846.dcec4"]]},{"id":"668cd846.dcec4","type":"time-range-switch","z":"4de563ba.080b34","name":"1:day - 2:night","lat":"38.2492","lon":"122.0405","startTime":"dusk","endTime":"dawn","startOffset":0,"endOffset":0,"x":660,"y":740,"wires":[["54025bd0.0f8024"],["e8347ab.081de08"]]},{"id":"54025bd0.0f8024","type":"debug","z":"4de563ba.080b34","name":"1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":720,"wires":[]},{"id":"e8347ab.081de08","type":"debug","z":"4de563ba.080b34","name":"2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":780,"wires":[]},{"id":"653cd181.63d5e8","type":"switch","z":"e3bf9902.391988","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"reset","vt":"str"},{"t":"eq","v":"BlueIris/PoolHD","vt":"str"},{"t":"eq","v":"BlueIris/DriveHD","vt":"str"},{"t":"eq","v":"BlueIris/EntryHD","vt":"str"},{"t":"eq","v":"BlueIris/PTZHD","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":850,"y":660,"wires":[["515affc3.e5cf8"],["a1f290d3.5e92a"],["3a683f63.b66d68"],["a9a48fce.1f065"],[]]},{"id":"c204234e.e9ad08","type":"delay","z":"e3bf9902.391988","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"8","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":360,"y":660,"wires":[["8a3fcad3.6bc9e"]]},{"id":"ac2ae68d.f9ea68","type":"delay","z":"e3bf9902.391988","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1200,"y":900,"wires":[["d5bcfaad.0db158"]]},{"id":"d5bcfaad.0db158","type":"switch","z":"e3bf9902.391988","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1370,"y":900,"wires":[["224e5afc.3a2896"],[]]}]